{% load static %}
<html lang="en">

<head>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/fontawesome.css"
        integrity="sha384-eHoocPgXsiuZh+Yy6+7DsKAerLXyJmu2Hadh4QYyt+8v86geixVYwFqUvMU8X90l" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link
        href="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/build/css/bootstrap-datetimepicker.css"
        rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css"
        rel="stylesheet" />
    <link href="{% static '/govers/main.css' %}" rel="stylesheet" type="text/css" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'govers/img/apple-touch-icon.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'govers/img/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'govers/img/favicon-16x16.png' %}" />
    <link rel="icon" type="image/png" sizes="144x144" href="{% static 'govers/img/android-chrome-144x144.png' %}" />
    <link rel="icon" type="image/png" href="{% static 'govers/img/android-chrome-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="57x57" href="{% static 'govers/img/apple-icon-57x57.png' %}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'govers/img/apple-icon-60x60.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'govers/img/apple-icon-72x72.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'govers/img/apple-icon-76x76.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'govers/img/apple-icon-114x114.png' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'govers/img/apple-icon-120x120.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'govers/img/apple-icon-144x144.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'govers/img/apple-icon-152x152.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'govers/img/apple-icon-180x180.png' %}" />
    <link rel="icon" type="image/png" sizes="192x192" href="{% static 'govers/img/android-icon-192x192.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'govers/img/favicon-32x32.png' %}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'govers/img/favicon-96x96.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'govers/img/favicon-16x16.png' %}" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="manifest" href="/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">

    <script>
        function myFunction() {
            var x = document.getElementById("navbarToggle");
            if (x.className === "navbar-nav") {
                x.className += " responsive";
            } else {
                x.className = "topnav";
            }
        }
    </script>

</head>

<body>
    <div id="page-container">
        <div id="content-wrap">
            <header class="site-header">
                <nav class="navbar navbar-expand-md navbar-dark bg-steel fixed-top">
                    <div class="container">
                        <a href="#" class="navbar-brand">
                            <!-- Logo Image -->
                            <!-- <img src="{% static 'govers/img/govers.png' %}" height="50" />-->
                            <!-- Logo Text -->
                        </a>
                        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
                            aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarToggle">
                            <div class="navbar-nav mr-auto">
                                <a class="nav-item nav-link" href="{% url 'govers-home' %}">Home</a>
                                <a class="nav-item nav-link" href="{% url 'xaf-upload' %}">XAF</a>
                                 <a class="nav-item nav-link" href="{% url 'caseware-page' %}">Caseware</a>
                                <a class="nav-item nav-link" href="{% url 'missing-rgscodes' %}">Downloads</a>

                                
                                <a class="nav-item nav-link" href="{% url 'govers-dashboard' %}">Dashboard</a>

                            </div>
                            <!--Navbar Right Side -->
                            <div class="navbar-nav">

                                {% if user.is_authenticated %}


                                <a class="nav-item nav-link" href="{% url 'profile' %}">{% if user.profile.image %}
                                    <img src="/media/{{ user.profile.image }}" height=40px />
                                    {% else %}
                                    <img src="/static/govers/img/avatar.png" height=40px />
                                    {% endif %} </a>
                                <a class="nav-item nav-link" href="{% url 'logout' %}"><i class="fa fa-sign-out"
                                        aria-hidden="true"></i>Signout</a>

                                {% else %}
                                <a class="nav-item nav-link" href="{% url 'login' %}"><i class="fa fa-sign-in"
                                        aria-hidden="true"></i> SignIn</a>
                                {% endif %}

                            </div>
                            <img src="{% static 'govers/img/cognizance.png' %} " height=52 />
                        </div>
                    </div>

                </nav>
            </header>
            <main role="main" class="container">

                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}"><i class="fa fa-exclamation-triangle"></i> {{ message }}
                    </div>
                    {% endfor %}
                </ul>
                {% endif %}
                {% block content %} {% endblock content %}

            </main>
            <!--
            <div class="col-md-4">
                <div class="content-section">

                    <p class='text-muted'>Report history (last 2)
                        <li class="list-group-item list-group-item-light">
                            <a href="#">This is the link</a>
                        </li>
                    </p>
                </div>
            </div>
-->










            <!-- This is where the footer begins -->


            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

            <script type="text/javascript"
                src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>

            <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

            <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.js"></script>

            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

            <script
                src="http://cdn.rawgit.com/Eonasdan/bootstrap-datetimepicker/a549aa8780dbda16f6cff545aeabc3d71073911e/src/js/bootstrap-datetimepicker.js"></script>


            <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script
                src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

            <script type="text/javascript">
                $('#datepicker-1').datepicker({
                    weekStart: 1,
                    daysOfWeekHighlighted: "6,0",
                    autoclose: true,
                    todayHighlight: true,
                });
                $('#datepicker-1').datepicker("setDate", new Date());

                $('#datepicker-2').datepicker({
                    weekStart: 1,
                    daysOfWeekHighlighted: "6,0",
                    autoclose: true,
                    todayHighlight: true,
                });
                $('#datepicker-2').datepicker("setDate", new Date());



            </script>

            <script>
                function refreshPage() {
                    window.location.reload();
                } 
            </script>



        </div>
        <div class="footer">
            <p>&copy; Cognizance - Powered and Developed by Insights By David</p>
            <small>Copyright &copy; Insights By David.</small>
        </div>

    </div>


</body>


</html>