{% extends "govers/base.html" %}

{% block content %}
<div class="row">

 <div class="col-md-6">
            <form method="POST" action="{% url 'caseware-upload' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <!--{{ form.as_p }}-->
                <input type="file" name="casewarefile" />
                <button type="submit" name="upload" class="btn btn-primary btn-lg"><i class="fa fa-upload"></i>
                    Upload</button>
            </form>
 </div>
 <div class="col-md-3">
 <form method="POST" action="{% url 'caseware-schema' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit" name="missingIds" class="btn btn-primary btn-lg"><i class="fa fa-cog"></i>
        Import Caseware Schema</button>
</form>
 </div>
<div class="col-md-3">
 <form method="POST" action="{% url 'caseware-schema-check' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit" name="missingIds" class="btn btn-primary btn-lg"><i class="fa fa-cog"></i>
        Generate Caseware Schema Check</button>
</form>
</div>
</div>
<div class="row">
{% if casewarefiles %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">File Name</th>
                    <th scope="col">Uploaded By</th>
                    <th scope="col">Uploaded On</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for file in casewarefiles %}
                <tr>
                    <td>{{ file.filename }}</td>
                    <td>{{ file.uploadedby }}</td>
                    <td>{{ file.uploadedon }}</td>
                     <td align='right'>
                        <div class="btn-group">

                          {% if file.status == "Not Processed" %}
                            <div style="padding-right:10px"><a href="{% url 'addcaseware' file.pk %}"><i
                                        class="fa fa-plus"></i>Add</a>
                            </div>
                            <div style="padding-right:10px"><a href="{% url 'caseware-delete' file.pk %}"><i
                                        class="fa fa-trash"></i>Delete</a></div>
                          {% else %}
                            <div style="padding-right:10px"><a href="{% url 'removecaseware' file.pk %}"><i
                                        class="fa fa-minus"></i>Remove</a></div>

                            <div style="padding-right:10px" aria-disabled="true"><i class="fa fa-trash"></i>Delete</div>
                            {% endif %}

                            <a href="{{ file.casewarefile.url }}"><i class="fa fa-download"></i></a>
                        </div>
                    </td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
</div>

{% endblock content %}