{% extends "govers/base.html" %} {% load static %} {% block content %}

<!--

<div class='tableauPlaceholder' id='viz1610915039240' style='position: relative'><noscript><a href='#'><img alt=' '
                                src='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;TestForVishwa&#47;Overview&#47;1_rss.png'
                                style='border: none' /></a></noscript><object class='tableauViz' style='display:none;'>
                <param name='host_url' value='https%3A%2F%2Fpublic.tableau.com%2F' />
                <param name='embed_code_version' value='3' />
                <param name='path'
                        value='views&#47;TestForVishwa&#47;Overview?:language=en&amp;:embed=y&amp;:display_count=y' />
                <param name='toolbar' value='yes' />
                <param name='static_image'
                        value='https:&#47;&#47;public.tableau.com&#47;static&#47;images&#47;Te&#47;TestForVishwa&#47;Overview&#47;1.png' />
                <param name='animate_transition' value='yes' />
                <param name='display_static_image' value='yes' />
                <param name='display_spinner' value='yes' />
                <param name='display_overlay' value='yes' />
                <param name='display_count' value='yes' />
                <param name='language' value='en' />
        </object></div>
<script
        type='text/javascript'>                    var divElement = document.getElementById('viz1610915039240'); var vizElement = divElement.getElementsByTagName('object')[0]; if (divElement.offsetWidth > 800) { vizElement.style.minWidth = '1000px'; vizElement.style.maxWidth = '100%'; vizElement.style.minHeight = '647px'; vizElement.style.maxHeight = (divElement.offsetWidth * 0.75) + 'px'; } else if (divElement.offsetWidth > 500) { vizElement.style.minWidth = '1000px'; vizElement.style.maxWidth = '100%'; vizElement.style.minHeight = '647px'; vizElement.style.maxHeight = (divElement.offsetWidth * 0.75) + 'px'; } else { vizElement.style.width = '100%'; vizElement.style.height = '347px'; } var scriptElement = document.createElement('script'); scriptElement.src = 'https://public.tableau.com/javascripts/api/viz_v1.js'; vizElement.parentNode.insertBefore(scriptElement, vizElement);                </script>
-->

<iframe width="1140" height="590.25" src="https://app.powerbi.com/reportEmbed?reportId=3d17da05-4e9e-41ae-aa04-eb0d807edbfe&autoAuth=true&ctid=9260575e-ae11-43d6-8c37-e6cd3c55d8ec&config=eyJjbHVzdGVyVXJsIjoiaHR0cHM6Ly93YWJpLXdlc3QtZXVyb3BlLWUtcHJpbWFyeS1yZWRpcmVjdC5hbmFseXNpcy53aW5kb3dzLm5ldC8ifQ%3D%3D" frameborder="0" allowFullScreen="true" outspace-pane="false"></iframe>
{% endblock content %}