
<div class="card-body">
        <form method="post" action="#">
            {% csrf_token %}
            <span class="badge badge-light">{{ file }}</span> <button type="submit" name="filename"
                class="btn btn-primary">Delete</button>
        </form>
    </div>
    {% endif %}
</div>



{% if url %}

<div class="card">
    <div class="card-header">

        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-hourglass" fill="currentColor"
            xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
                d="M2 1.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-1v1a4.5 4.5 0 0 1-2.557 4.06c-.29.139-.443.377-.443.59v.7c0 .213.154.451.443.59A4.5 4.5 0 0 1 12.5 13v1h1a.5.5 0 0 1 0 1h-11a.5.5 0 1 1 0-1h1v-1a4.5 4.5 0 0 1 2.557-4.06c.29-.139.443-.377.443-.59v-.7c0-.213-.154-.451-.443-.59A4.5 4.5 0 0 1 3.5 3V2h-1a.5.5 0 0 1-.5-.5zm2.5.5v1a3.5 3.5 0 0 0 1.989 3.158c.533.256 1.011.791 1.011 1.491v.702c0 .7-.478 1.235-1.011 1.491A3.5 3.5 0 0 0 4.5 13v1h7v-1a3.5 3.5 0 0 0-1.989-3.158C8.978 9.586 8.5 9.052 8.5 8.351v-.702c0-.7.478-1.235 1.011-1.491A3.5 3.5 0 0 0 11.5 3V2h-7z" />
        </svg> File is being processed...

        Start processing above file...
    </div>

    <div class="card-body">
        <form method="post" action="#" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="text" name = "filenamefull" class="form-control" placeholder="{{ url }}" readonly="readonly">
            <button type="submit" class="btn btn-primary">Start Processing...</button>
        </form>

        {{ details }}
    </div>
</div>

{% endif %}
{% endblock content %}