{% block content %}{% load pagination_tags %}
{% if xafs %}


<div class="row">

    <div class="col-9 text-left">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Fiscal Year</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                   <!-- <th>XAF created on</th>-->
                    <th>Size(Kb)</th>
                    <th>Source</th>
                    <th>BatchID</th>
                    <!-- <th>Status</th>-->
                    <th></th>
                </tr>
            </thead>
            <tbody>
            {% autopaginate xafs 7 %}
                {% for xaf in xafs %}
                <tr>

                    <td>{{ xaf.companyname }}</td>
                    <td>{{ xaf.fiscalyear }}</td>
                    <td>{{ xaf.startmonth }}</td>
                    <td>{{ xaf.endmonth }}</td>
                    <!--<td>{{ xaf.createdon }}</td>-->
                    <td>{{ xaf.filesize }}</td>
                    <td>{{ xaf.source }}</td>
                    <td><a href="{% url 'processingdetails' xaf.batch_id %}">{{ xaf.batch_id }} <i class="fa fa-book"
                                aria-hidden="true"></i></a></td>


                    <td align='right'>
                        <div class="btn-group">
                            <!-- {% if xaf.status != "Not Processed" %}
                            <div style="padding-right:10px"><a href="#"><i class="fa fa-arrow-right"></i>Process</a></div>
                            <div style="padding-right:10px"><a href="#"><i class="fa fa-trash"></i> Delete</a></div>
                            {% else %} -->
                            {% if xaf.batchStatus == "Not Added" %}
                            <div style="padding-right:10px"><a href="{% url 'add' xaf.pk %}"><i
                                        class="fa fa-plus"></i>Add</a>
                            </div>
                            <div style="padding-right:10px"><a href="{% url 'xaf-delete' xaf.pk %}"><i
                                        class="fa fa-trash"></i>Delete</a></div>
                            {% else %}
                            <div style="padding-right:10px"><a href="{% url 'remove' xaf.pk %}"><i
                                        class="fa fa-minus"></i>Remove</a></div>

                            <div style="padding-right:10px" aria-disabled="true"><i class="fa fa-trash"></i>Delete</div>
                            {% endif %}


                            <!-- {% endif %} -->
                            <a href="{{ xaf.xaffile.url }}"><i class="fa fa-download"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
{% paginate %}
    </div>


    <div class="col-3 text-center">

       
        <table class="table table-striped">
            <thead >
                <tr>
                    <th scope="col">Job Id</th>
                    <th scope="col">Status</th>
                    <th scope="col">View Log</th>
                </tr>
            </thead>
            <tbody>
{% autopaginate runningjobs 7 %}
                {% for x in runningjobs %}
                <tr>

                    <td>{{ x.id_job }}</td>

                    <td>

                         {% if x.status == "end" %}
                        <i class="fa fa-check-circle fa-1.5x" aria-hidden="true" style="color:green" >Complete</i>
                        {% else %}
                        <div class="p-.5 mb-.2 .bg-light text-dark"><i class="fas fa-spinner fa-spin fa-1x" style="color:gray"></i>In Progress
{% endif %}
                    </td>
                    <td><a href="{% url 'processingdetails'  x.id_job  %}">Click Here</td>
                </tr>
                {% endfor %}

            </tbody>
        </table>



    </div>
</div>
{% else %}
<div class="alert alert-warning">
    <strong>Warning!</strong> There is no file uploaded to start processing...
</div>
{% endif %}

{% endblock %}