{% extends "govers/base.html" %} {% load static %}{% block content %}

<div class="alert alert-danger" role="alert">
    <h4 class="alert-heading"><i class="fa fa-ban fa-3x" aria-hidden="true" ></i> Unauthorized</h4>
    <p>You are not authorized to take this action.</p>
    <hr>
    <p class="mb-0">Please contact admin of this portal to give you right access in order to be able to perform this action.</p>
    <p>If you have right access, <a href="{% url 'login' %}">click here to login</a></p>
  </div>
{% endblock %}