{% extends "govers/base.html" %} {% load static %}{% block content %}

<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="p-.5 mb-.2 .bg-light text-dark"><i class="fas fa-spinner fa-spin fa-2x"></i> <strong></strong> </strong></div>
            <div class="card-body">
                <table class="table"> 

                    <tr>
                       <!-- <th>Company Name</th>-->
                        <td><strong>Company: </strong>{{ xaf.companyname }}</td>
                        <td><strong>Year: </strong>{{ xaf.fiscalyear }}</td>
                        <td><strong>Date Range: </strong>{{ xaf.startmonth }} till {{ xaf.endmonth }}</td>
                    </tr>
                  
                    <tr>
                        <!-- <th>File Name</th>-->
                        <td colspan="2"><strong>File Name: </strong>{{ xaf.xaffile }}</td>
                        <td><strong>File Size: </strong>{{ xaf.filesize }} KB</td>
                    </tr>

                </table>
</div>
            
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">

        

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Date Time</th>
                    <th>Event Type</th>
                    <th>New Status</th>
                    <th>Description</th>
                </tr>
            </thead>
            {% for process in xafprocesses %}
            <tr>
                <td>{{ process.datetime }}</td>
                <td>{{ process.eventtype }}</td>
                <td>{{ process.status }}</td>
                <td>{{ process.description }}</td>
            </tr>
            {% endfor %}
        </table>

        

    </div>
</div>
{% endblock %}