{% extends "govers/base.html" %} {% load static %}{% block content %}





<div class="row">

    <div class="col-md-12">
        {% if status != "end" %}
        <div class="card">
            <div class="card-header">

                <div class="p-.5 mb-.2 .bg-light text-dark"><i class="fas fa-spinner fa-spin fa-2x"></i>
                    <strong></strong> </strong>
                </div>


            </div>


        </div>
        {% endif %}
        <div class="card">
            {% if status != "end" %}
            <button type="button" class="btn btn-success btn-lg" onClick="window.location.reload();"><i
                    class="fa fa-refresh fa-2x" aria-hidden="true"></i>
            </button>

            {% else %}
            <button type="button" class="btn btn-success btn-lg" disabled> <i class="fa fa-thumbs-up fa-2x"
                    aria-hidden="true"> Completed Successfully</i>
            </button>

            {% endif %}
            {% for x in logs %}
            {{ x }} <br />
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}