{% extends "govers/base.html" %} {% load static %}{% block content %}

<div class="col-md-6">
    <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250">
        <div class="col-auto d-none d-lg-block">
            {% if user.profile.image %}
            <img src="/media/{{ user.profile.image }}" height=90px />
            {% else %}
            <img src="/static/govers/img/avatar.png" height=90px />
            {% endif %}
        </div>
        {% if user.first_name %}
        <h3 class="mb-0">Hello, {{ user.first_name }}</h3>
        {% else %}
        <h3 class="mb-0">Hello, {{ user.username }}</h3>
        {% endif %}

        <table class="table borderless">
            <tr>
                <td>First Name</td>
                <td>{{ user.first_name }} </td>
            </tr>
            <tr>
                <td> Last Name</td>
                <td>{{ user.last_name }} </td>
            </tr>
            <tr>
                <td>Email Address</td>
                <td>{{ user.email }} </td>
            </tr>
            <tr>
                <td>User Name</td>
                <td>{{ user.username }} </td>
            </tr>
        </table>

    </div>

</div>
</div>

{% endblock %}