{% block content %}
{% if xafs %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Company Name</th>
                    <th>Fiscal Year</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                   <!-- <th>XAF created on</th>-->
                    <th>Size(Kb)</th>
                    <th>Source</th>
                   <!-- <th>Status</th>-->
                    <th>Processed By</th>
                   
                </tr>
            </thead>
            <tbody>
                {% for xaf in xafs %}
                <tr>
                    
                    <td>{{ xaf.companyname }}</td>
                    <td>{{ xaf.fiscalyear }}</td>
                    <td>{{ xaf.startmonth }}</td>
                    <td>{{ xaf.endmonth }}</td>
                   <!-- <td>{{ xaf.createdon }}</td>-->
                    <td>{{ xaf.filesize }}</td>
                    <td>{{ xaf.source }}</td>

<!--

                    {% if xaf.status == "Success" %}
                    <td><a href="{% url 'processingdetails' xaf.pk %}"><i class="fa fa-check-circle fa-1x"></i>{{ xaf.status }}</a></td>
                    {% endif %}

                    {% if xaf.status == "Error" %}
                    <td><a href="{% url 'processingdetails' xaf.pk %}"><i class="fa fa-exclamation-triangle fa-1x"></i>{{ xaf.status }}</a></td>
                    {% endif %}

                    {% if xaf.status == "Not Processed" %}
                    <td><a href="{% url 'processingdetails' xaf.pk %}"><i class="fas fa-hourglass "></i>{{ xaf.status }}</a></td>
                    {% endif %}

                    {% if xaf.status != "Error" and  xaf.status != "Success" and  xaf.status != "Not Processed" %}
                    <td><a href="{% url 'processingdetails' xaf.pk %}"><i class="fas fa-spinner fa-spin fa-1x"></i>{{ xaf.status }}</a></td>
                    {% endif %}
-->
                    <td>{{ xaf.uploadedby }}</td>
                    
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-warning">
            <strong>Warning!</strong> There is no file uploaded to start processing...
        </div>
        {% endif %}

        {% endblock %}