{% extends "govers/base.html" %}

{% block content %}


<div class="row">

<form method="POST" action="{% url 'generate-missing-rgscodes' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit" name="missingIds" class="btn btn-primary btn-lg"><i class="fa fa-cog"></i>
        Generate Missing RGS IDs</button>
</form>

    &nbsp;

     <form method="POST" action="{% url 'caseware-schema-check' %}" enctype="multipart/form-data">
    {% csrf_token %}
    <button type="submit" name="missingIds" class="btn btn-primary btn-lg"><i class="fa fa-cog"></i>
        Generate Caseware Schema Check</button>
</form>
        &nbsp;


</div>
<div class="row">
    <div class="col-md-8">
        {% if files %}
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">File Name</th>
                    <th scope="col">Generated On</th>
                    <th scope="col">Download</th>
                </tr>
            </thead>
            <tbody>
                {% for file in files %}
                <tr>
                    <td>{{ file.file }}</td>
                    <td>{{ file.modifiedon }}</td>
                    <td><a href="/media/rgs/{{ file.file }}" download="{{ file.file }}"><span
                                class="badge badge-primary badge-pill"> <svg width="1.6em" height="1.6em"
                                    fill="#fff" viewBox="0 0 16 16" class="bi bi-download"
                                    xmlns="http://www.w3.org/2000/missingYukiIDs.csvsvg">
                                    <path fill-rule="evenodd"
                                        d="M.5 8a.5.5 0 0 1 .5.5V12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V8.5a.5.5 0 0 1 1 0V12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V8.5A.5.5 0 0 1 .5 8z" />
                                    <path fill-rule="evenodd"
                                        d="M5 7.5a.5.5 0 0 1 .707 0L8 9.793 10.293 7.5a.5.5 0 1 1 .707.707l-2.646 2.647a.5.5 0 0 1-.708 0L5 8.207A.5.5 0 0 1 5 7.5z" />
                                    <path fill-rule="evenodd"
                                        d="M8 1a.5.5 0 0 1 .5.5v8a.5.5 0 0 1-1 0v-8A.5.5 0 0 1 8 1z" />
                                </svg></span></a></td>

                </tr>
                {% endfor %}
            </tbody>
        </table>
        {% endif %}
    </div>




    <div class="col-3 text-center">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">Job Id</th>
                    <th scope="col">Status</th>
                    <th scope="col">View Log</th>
                </tr>
            </thead>
            <tbody>

 
                {% for x in runningjobs %}
                <tr>

                    <td>{{ x.id_job }}</td>

                    <td>

                         {% if x.status == "end" %}
                        <i class="fa fa-check-circle fa-1.5x" aria-hidden="true" style="color:green" >Complete</i>
                        {% else %}
                        <div class="p-.5 mb-.2 .bg-light text-dark"><i class="fas fa-spinner fa-spin fa-1x" style="color:gray"></i>In Progress
{% endif %}
                    </td>
                    <td><a href="{% url 'processingdetails'  x.id_job  %}">Click Here</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>



    </div>





</div>

{% endblock content %}