{% block content %}
{% load static %}
<div class="row justify-content-md-center">
 
  <div class="col-3">
    <a href="{% url 'xaf-upload' %}">
    <div class="card text-white bg-primary mb-3">
      <div class="card-body">
        <img src="{% static 'govers/img/data-processing.png' %} " height=100 />
        <h5 class="card-title text-white">PROCESS</h5>
      </div>
    </div>
  </a>
  </div>


  <div class="col-3">
    <div class="card text-white bg-info mb-3">
      <div class="card-body">
        <img src="{% static 'govers/img/invoice.png' %} " height=100 />
        <h5 class="card-title text-white">INVOICE</h5>
      </div>
    </div>
  </div>

  <div class="col-3">
    <a href="{% url 'govers-dashboard' %}">
    <div class="card justify-content bg-success mb-3 ">
      <div class="card-body">
        <img src="{% static 'govers/img/dashboard.png' %} " height=100 />
        <h5 class="card-title text-white">DASHBOARD</h5>
      </div>

    </div>
    </a>
  </div>
</div>

  <div class="row justify-content-md-center">
    <div class="col-3">
      <div class="card text-white bg-warning mb-3">
        <div class="card-body">
          <img src="{% static 'govers/img/timesheet.png' %} " height=100 />
          <h5 class="card-title text-white">TIME-SHEET</h5>
        </div>
      </div>
    </div>


    <div class="col-3">
      <a href="{% url 'yuki' %}">
      <div class="card text-white bg-secondary mb-3">
        <div class="card-body">
          <img src="{% static 'govers/img/yuki.png' %} " height=100 />
          <h5 class="card-title text-white">YUKI-API</h5>
        </div>
      </div>
      </a>
    </div>

    <div class="col-3">
      <a href="\admin" target="_blank">
      <div class="card justify-content bg-dark mb-3 ">
        <div class="card-body">
          <img src="{% static 'govers/img/settings.png' %} " height=100 />
          <h5 class="card-title text-white">SETTINGS</h5>
        </div>

      </div>
      </a>
    </div>

  </div>
    <div class="row justify-content-md-center">


    </div>



      {% endblock %}