{% extends "govers/base.html" %} {% load static %}{% block content %}

<div class="row">
    <div class="col-md-9">
        <div class="card">
 
            <div class="card-body">


            <form method="POST" action="{% url 'xaf-upload' %}" enctype="multipart/form-data">
                {% csrf_token %}
                <!--{{ form.as_p }}-->
                <input type="file" name="xaffile" />
                <button type="submit" name="upload" class="btn btn-primary btn-lg"><i class="fa fa-upload"></i>
                    Upload</button>
            </form>

            

        </div>
        </div>
    </div>

    <div class="col-md-3">
        {% if totalFileCount > 0 %}
        <div><a class="btn btn-info btn-lg" href="{% url 'process-xaf'%}" role="button"><i
                    class="fa fa-right-arrow"></i>Process >> [{{ totalFileCount }} Files]</a></div>
        {% endif %}

    </div>

   
</div>

<div class="row">
    <div class="col-md-12">
        {% include "govers/listuploadedxafs.html" %}
    </div>
</div>


{% endblock content %}