{% extends "govers/base.html" %} {% load static %}{% block content %}

 {% if xafs %}
 <table class="table table-striped  table-hover table-sm">
  <thead>
    <tr>
      
      <th>companyname</th>
      <th>startyear</th>
      <th>endyear</th>
      <th>startmonth</th>
      <th>endmonth</th>
      <th>Delete</th>
      <th>Process</th>
    </tr>
  </thead>
  <tbody>
    {% for xaf in xafs %}

    {% if xaf.xaffile %}

    <tr>
      <td>{{ xaf.companyname }}</td>
      <td>{{ xaf.startyear }}</td>
      <td>{{ xaf.endyear }}</td>
      <td>{{ xaf.startmonth }}</td>
      <td>{{ xaf.endmonth }}</td>
      <td>
        <form method="post" action="{% url 'xaf-delete' xaf.pk %}">
          {% csrf_token %}
          <button type="submit">Delete</button>
        </form>
      </td>

      <td><a href="{{ xaf.xaffile.url }}" target="_blank" rel="noopener noreferrer" download="xaf.xaffile">Download</a></td>
      
    </tr>
    {% endif %}
    {% endfor %}
  </tbody>
</table>

{% endif %}
{% endblock %}
