{% extends "govers/base.html"%} {% load static %}{% block content %}

<div class="row">
    <div class="col-md-6">

        <div class="card">
            <div class="card-header">

                Get Data from Yuki via API
            </div>
            <div class="card-body">

                <form method="post" action="{% url 'xaf-upload' %}" enctype="multipart/form-data">
                    {% csrf_token %}

                    <div class="form-row">
                        <div class="form-group col-md-8">
                            <label>Company</label>
                            <select class="form-control form-control-sm">
                                <option>Select Company</option>
                                <option>Dutch Plastics</option>
                                <option>Season DM</option>
                                <option>Season DM</option>
                            </select>
                        </div>

                        <div class="form-group col-md-4">
                            <label>Year</label>
                            <select class="form-control form-control-sm">
                                <option>Year</option>
                                <option>2020</option>
                                <option>2019</option>
                                <option>2018</option>
                                <option>2017</option>
                                <option>2016</option>
                                <option>2015</option>
                            </select>
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Start Date:</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <input data-date-format="dd/mm/yyyy" id="datepicker-1" name="start"
                                    class="form-control form-control-sm" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>

                        </div>


                        <div class="form-group col-md-6">
                            <label>End Date:</label>
                            <div class='input-group date' id='datetimepicker1'>
                                <input data-date-format="dd/mm/yyyy" id="datepicker-2" name="end"
                                    class="form-control form-control-sm" />
                                <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span>
                                </span>
                            </div>

                        </div>

                    </div>

                    <div class="form-group form-row">
                        <div class="form-group col-md-12 my-auto">
                            <button type="submit" name="upload" class="btn btn-primary">Start processing</button>
                        </div>


                    </div>
                </form>
            </div>
        </div>
    </div>



            <div class="col-md-6">

                <div class="card">
                    <div class="card-header">

                        Last Processed via Yuki API
                    </div>
                    <div class="card-body">

                        <div class="card-body">
                            <table class="table table-striped  table-hover table-sm">
                                <tr>
                                    
                                    <th>Date Range</th>
                                    <th>Company</th>
                                    <th>User</th>
                                    <th>Status</th>
                                </tr>

                                <tr>
                                  
                                    <td>2020-01-01 - 2020-01-01</td>
                                    <td>Dutch Plastics</td>

                                    <td>Wilko</td>
                                    <td>Success</td>
                                </tr>
                                <tr>
                                  

                                    <td>2020-01-01 - 2020-01-01</td>
                                    <td>Season DM</td>

                                    <td>Wilko</td>
                                    <td>Success</td>
                                </tr>
                                <tr>
                                    

                                    <td>2020-01-01 - 2020-01-01</td>
                                    <td>Cafetaria het Pleintje</td>

                                    <td>Wilko</td>
                                    <td>Success</td>
                                </tr>
                                <tr>
                                  

                                    <td>2020-01-01 - 2020-01-01</td>
                                    <td>Intromediates B.V.</td>

                                    <td>Wilko</td>
                                    <td>Failed</td>
                                </tr>

                            </table>

                        </div>

                    </div>
                </div>
            </div>

        </div>


        {% endblock content %}