{% extends "admin/base.html" %} {% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }}{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <a href="{% url 'admin:index' %}"><img src="{% static 'govers/img/govers.png' %}" height="40px" /></a>
    </a>
</h1>

<!--<h1 id="site-name"><a href="{% url 'admin:index' %}">{{ site_header|default:_('Django administration') }}</a></h1>-->
{% endblock %}

{% block nav-global %}{% endblock %}
