body {
    font-family:    Arial,sans-serif;
    color: #333333;
    background: #fff;
    padding-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #251c5c;
}

ul {
    margin: 0;
}



.table td, .table th {
    padding: 10px;
    font-size: smaller;
}

.table {
    padding-bottom: 20px;
    border: 1px solid rgba(0,0,0,.125);
}



th {
    background-color: #251c5c;
    color: white;
} 


.bg-steel {
    background-color: #cef4fa !important;
}

.btn {
    
    border-width: 0;
    border-radius: 0rem;
    padding: .1rem .6rem;
    font-size: .9rem;
}

.card-header{
    font-weight: bold;
    font-size: medium;
}

.navbar {
    padding: 0%;
}

.site-header .navbar-nav .nav-link {
    color: #251c5c;
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
}

.site-header .navbar-nav .nav-link:hover {
    color: #ffffff;
    background-color: #251c5c;
}


.site-header .navbar-nav .nav-link.active {
    background-color: #251c5c;
}


#page-container {
    position: relative;
    min-height: 100vh;
  }
  
  #content-wrap {
    padding-bottom: 90px;    /* Footer height */
  }


.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #050A30;
    color: white;
    text-align: center;
    height:70px;
    padding-top: 10px;

 }

 .modal-content {
    align-items: center !important;
    display: "block" !important;
    width: 80%;
}

.fa {
    padding: 5px 5px 2px 2px !important;
}

